header, section, footer, aside, nav, article, figure, figcaption, hgroup{
	display: block;
}

#menu{
	background: limegreen;
	padding: 5px 15px;
}
#menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px verdana, sans-serif;
}
